.campaign-list-table {
    table-layout: fixed;
    border-collapse: collapse;

    &-container {
        display: block;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        border-bottom: 2px solid #333;
        overflow-x: auto;
    }

    th,
    td {
        padding: 20px;
        text-align: center;
    }

    th {
        color: #f39c12;
        background-color: #333;
    }

    tr:nth-child(even) {
        background-color: #707070;
    }
    tr:nth-child(odd) {
        background-color: #828282;
    }
}
