.tag {
    background-color: #f39c12;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .remove-button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
    }
}
